.ios-chrome .css-animation {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.white-text-border {
  text-shadow:
    -1px -1px 0 #807e7e,
    1px -1px 0 #807e7e,
    -1px 1px 0 #807e7e,
    1px 1px 0 #807e7e;
}
