---
import RootLayout from "../layouts/RootLayout.astro";
import { useTranslations } from "../i18n/utils";
import type { Locale } from "../config/i18n";

interface Props {
  lang: Locale;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
const pageTitle = t("guidance.title");
---

<RootLayout title={pageTitle} lang={lang}>
  <section class="flex flex-col items-center justify-center w-screen">
    <iframe
      src={
        lang === "en"
          ? "https://docs.google.com/forms/d/e/1FAIpQLSd12gQPJkNeD4ak7MCmyQtMiC5oCoA4XUP8SXV-l-HDSaX8hg/viewform"
          : "https://docs.google.com/forms/d/e/1FAIpQLSdBoSjRPYk7vi4oZz8dkk3S9uIP5dtylPMo9d_7q1qchZLVJg/viewform"
      }
      width="100%"
      height="1200">{t("common.loading")}</iframe
    >
  </section>
</RootLayout>
