---
import TestDiv from "../components/TestDiv.astro";
import MVV from "../components/MVV.astro";
import RootLayout from "../layouts/RootLayout.astro";
import { getImage } from "astro:assets";
import heroImage from "../assets/hero-2.png";
const optimizedBackgroundImage = await getImage({ src: heroImage });
import Svg from "../components/Svg.astro";
const pageTitle = "My Astro site";
---

<RootLayout title={pageTitle}>
  <section
    class="relative hero-section h-[50vh] flex flex-col items-center justify-center gap-10 text-center bg-cover bg-center"
    style={`background-image: url('${optimizedBackgroundImage.src}')`}
  >
    <h1 class="text-7xl font-bold">Harmonic Reborn</h1>
    <p class="uppercase text-lg text-center w-10/12 max-w-xl">
      Un masaj holistic complet, complex si intuitiv bazat pe principii fondate
      si pe cumulul de experienta dobandit pana in prezent.
    </p>
    <div class="flex gap-4">
      <button
        class="bg-dark border-2 border-white bg-opacity-50 text-white uppercase px-4 py-2 rounded-full w-44 hover:bg-opacity-100 hover:bg-secondary-blue hover:text-dark"
      >
        Afla mai multe
      </button>
      <button
        class="bg-primary text-white uppercase px-4 py-2 rounded-full w-44 hover:bg-opacity-100 hover:bg-secondary-blue hover:text-dark"
      >
        Rezerva
      </button>
    </div>
    <!-- </div> -->
  </section>
  <section class="container mx-auto">
    <div class="flex flex-col items-center justify-center">
      <MVV
        colorAccent="#0FCBFF"
        title="Misiune"
        description="Prin colaborare, inovație și respect reciproc, avem misiunea de a crea un spațiu în care fiecare persoană se simte încurajată să își descopere și să își împărtășească adevărata strălucire."
      />
    </div>
    <div class="flex flex-col items-center justify-center">
      <MVV
        colorAccent="#FF969F"
        title="Valori"
        description="Îmbrățișăm un viitor unde respectul față de natură, colaborarea strânsă și împuternicirea fiecărei persoane să strălucească individual sunt esențiale. Ne dedicăm să creăm un spațiu unde fiecare acțiune reflectă grijă pentru planeta noastră, unde solidaritatea întărește legăturile comunitare, și unde fiecare voce are puterea de a inspira schimbare."
        appearsFromRight
      />
    </div>
    <div class="flex flex-col items-center justify-center">
      <MVV
        colorAccent="#00C3CD"
        title="Viziune"
        description="Să devenim un model de coexistență echitabilă și durabilă, unde progresul și bunăstarea sunt accesibile tuturor. Suntem dedicați în a hrăni o lume în care indivizii se unesc pentru a deschide calea către un viitor mai strălucit și mai armonios."
      />
    </div>
  </section>
  {new Array(100).fill(0).map((_, i) => <TestDiv id={i} client:visible />)}
</RootLayout>
