---
import MVV from "../components/MVV.astro";
import FacilitatorList from "../components/FacilitatorList.astro";
import RootLayout from "../layouts/RootLayout.astro";
import { getImage } from "astro:assets";
import heroImage from "/src/assets/hero-3.jpeg";
const optimizedBackgroundImage = await getImage({ src: heroImage });
const pageTitle = "Harmonia";
---

<RootLayout title={pageTitle}>
  <section
    class="relative hero-section h-[calc(100vh-8rem)] flex flex-col items-center justify-between pb-32 pt-32 text-center bg-cover bg-center"
    style={`background-image: url('${optimizedBackgroundImage.src}')`}
  >
    <h1 class="text-6xl font-bold uppercase">Healing in oneness</h1>

    <div class="flex gap-2">
      <button
        class="bg-dark border-2 border-white bg-opacity-50 text-white uppercase px-4 py-2 rounded-full w-40 hover:bg-opacity-100 hover:bg-secondary-blue hover:text-dark"
      >
        Activități
      </button>
      <button
        class="bg-dark border-2 border-white bg-opacity-50 text-white uppercase px-4 py-2 rounded-full w-40 hover:bg-opacity-100 hover:bg-secondary-blue hover:text-dark"
      >
        Spațiu
      </button>
    </div>
    <!-- </div> -->
  </section>
  <section
    class="container mx-auto py-24 flex flex-col items-center justify-center gap-10"
  >
    <div class="flex flex-col items-center justify-center max-w-lg">
      <MVV
        colorAccent="#0FCBFF"
        title="Misiune"
        description="Prin colaborare, inovație și respect reciproc, avem misiunea de a crea un spațiu în care fiecare persoană se simte încurajată să își descopere și să își împărtășească adevărata strălucire."
      />
    </div>
    <div class="flex flex-col items-center justify-center max-w-lg">
      <MVV
        colorAccent="#FF969F"
        title="Valori"
        description="Îmbrățișăm un viitor unde respectul față de natură, colaborarea strânsă și împuternicirea fiecărei persoane să strălucească individual sunt esențiale. Ne dedicăm să creăm un spațiu unde fiecare acțiune reflectă grijă pentru planeta noastră, unde solidaritatea întărește legăturile comunitare, și unde fiecare voce are puterea de a inspira schimbare."
        appearsFromRight
      />
    </div>
    <div class="flex flex-col items-center justify-center max-w-lg">
      <MVV
        colorAccent="#00C3CD"
        title="Viziune"
        description="Să devenim un model de coexistență echitabilă și durabilă, unde progresul și bunăstarea sunt accesibile tuturor. Suntem dedicați în a hrăni o lume în care indivizii se unesc pentru a deschide calea către un viitor mai strălucit și mai armonios."
      />
    </div>
  </section>

  <section
    class="flex flex-col items-center justify-center bg-primary py-24 text-white"
  >
    <h1 class="text-6xl" transition:name="facilitators-title">Facilitatori</h1>
    <div class="flex flex-col items-center justify-center gap-10 py-16 px-4">
      <FacilitatorList displayCount={2} />
    </div>

    <div class="flex flex-col items-center justify-center gap-10">
      <button
        data-aos="flip-up"
        class="css-animation bg-secondary-pink text-primary uppercase px-4 py-2 rounded-full w-60 h-12 hover:bg-opacity-100 hover:bg-secondary-blue"
      >
        <a href="facilitators">Vezi toti facilitatorii</a>
      </button><button
        data-aos="flip-up"
        class="css-animation bg-secondary-pink text-primary uppercase px-4 py-2 rounded-full w-60 h-12 hover:bg-opacity-100 hover:bg-secondary-blue"
      >
        <a href="new-facilitator">Devino facilitator</a>
      </button>
    </div>
  </section>
</RootLayout>
