---
import RootLayout from "../layouts/RootLayout.astro";
const pageTitle = "Facilitator nou";
---

<RootLayout title={pageTitle}>
  <section class="flex flex-col items-center justify-center w-screen">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSfj1RygYF02dH5KVJE9fnfWJWYz-vgD3vqW4VxFXUNzM30Ryg/viewform?embedded=true"
      width="100%"
      height="1080"
      frameborder="0"
      marginheight="0"
      marginwidth="0">Loading…</iframe
    >
  </section>
</RootLayout>
