---
import "keen-slider/keen-slider.min.css";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { getImage } from "astro:assets";
import RootLayout from "../layouts/RootLayout.astro";
const pageTitle = "Spatiu";
import heroImage from "/src/assets/spatiu-hero.jpg";
const optimizedBackgroundImage = await getImage({ src: heroImage });

import hub0 from "/src/assets/hub/hub0.jpg";
import hub1 from "/src/assets/hub/hub1.jpg";
import hub2 from "/src/assets/hub/hub2.jpg";
import hub3 from "/src/assets/hub/hub3.jpg";
import hub4 from "/src/assets/hub/hub4.jpg";
import hub5 from "/src/assets/hub/hub5.jpg";
import hub6 from "/src/assets/hub/hub6.jpg";
import hub7 from "/src/assets/hub/hub7.jpg";
import hub8 from "/src/assets/hub/hub8.jpg";

const images = [hub0, hub1, hub2, hub3, hub4, hub5, hub6, hub7, hub8];
---

<RootLayout title={pageTitle}>
  <section
    class="relative hero-section h-[60vh] flex flex-col items-center justify-center text-center bg-cover bg-center"
    style={`background-image: url('${optimizedBackgroundImage.src}')`}
  >
    <h1
      class="text-6xl font-black drop-shadow relative w-60 md:w-96"
      transition:name="facilitators-title"
    >
      Harmonia Terra
    </h1>
  </section>
  <section
    class="flex flex-col items-center justify-center bg-primary text-white"
  >
    <p class="px-4 pt-8 pb-4 max-w-lg">
      Am creat un loc magic, plin de armonie de care te poti bucura și tu.
      Acesta poate fi închiriat pentru sesiuni individuale, ședințe foto, yoga,
      cercuri și multe alte activități de grup.
    </p>
    <a
      class="bg-secondary-pink rounded-full px-10 py-4 m-4 text-white uppercase text-center"
      href="https://wa.link/0y6cpq"
    >
      CONTACTEAZĂ-NE
    </a>
    <div id="carousel" class="keen-slider my-4 max-w-lg">
      {
        images.map((image) => (
          <div class="keen-slider__slide ">
            <Image
              class="rounded-2xl object-cover w-full h-96"
              src={image}
              alt={image.src}
            />
          </div>
        ))
      }
    </div>

    <div class="w-full p-4">
      <h2 class="text-3xl mb-4">Unde ne găsești</h2>
      <a
        class="flex flex-row gap-2 items-center py-2"
        href="https://maps.app.goo.gl/WHitKPypjS4khZfN9"
      >
        <Icon
          name="location"
          class="w-8 h-8 fill-primary bg-white rounded-full p-1"
        />
        <p>Strada Cercului 18, București</p>
      </a>
      <a
        href="mailto:office@harmonia.ro"
        class="flex flex-row gap-2 items-center py-2"
      >
        <Icon
          name="email"
          class="w-8 h-8 fill-primary bg-white rounded-full p-1"
        />
        <p>office@harmonia.ro</p>
      </a>
      <a href="tel:+40745255365" class="flex flex-row gap-2 items-center py-2">
        <Icon
          name="whatsapp"
          class="w-8 h-8 fill-primary bg-white rounded-full p-1"
        />
        <p>+40745255365</p>
      </a>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.631727103489!2d26.112324412967578!3d44.44071600101998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff071ad12811%3A0xa60fe7afe8f2297a!2sHarmonia%20Terra!5e0!3m2!1sro!2sro!4v1720017428764!5m2!1sro!2sro"
        width="100%"
        height="450"
        class="border-0 mt-4 rounded-2xl"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>
</RootLayout>

<script src="@glidejs/glide/dist/glide.min.js"></script>

<script>
  import KeenSlider from "keen-slider";
  ["DOMContentLoaded", "astro:after-swap"].forEach((event) => {
    document.addEventListener(event, () => {
      const slider = new KeenSlider("#carousel", {
        slides: {
          origin: "center",
          perView: 1.2,
          spacing: 15,
        },
      });
    });
  });
</script>
