---
import { getCollection } from "astro:content";
import TruncatedDescription from "../components/TruncatedDescription.astro";
import { Image } from "astro:assets";

const facilitators = (await getCollection("facilitators")).slice(0, 2);
---

<>
  {
    facilitators.map((facilitator, idx) => (
      <div
        data-aos={idx % 2 ? "fade-up" : "fade-down"}
        class:list={[
          "facilitator-card flex flex-row items-center justify-center gap-4 inlibe-block float-left",
          { "from-right": idx % 2 },
        ]}
      >
        <Image
          src={facilitator.data.image}
          alt={facilitator.data.name}
          class="rounded-3xl"
          width={150}
          height={150}
        />

        <div class="flex flex-col gap-2 py-2">
          <h2 class="text-xl">{facilitator.data.name}</h2>
          <TruncatedDescription text={facilitator.data.description} />
        </div>
      </div>
    ))
  }
</>
