---
import LogoMVV, { DarkBlue } from "../components/LogoMVV.astro";
import HarmoniaText from "../components/HarmoniaText.astro";
import { getLocalizedLinks } from "../content/links";
import { Icon } from "astro-icon/components";
import { useTranslations } from "../i18n/utils";
import type { Locale } from "../config/i18n";
import Logo from "./Logo.astro";
import LogoIcon from "./LogoIcon.astro";

interface Props {
  lang: Locale;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
const links = getLocalizedLinks(lang);
---

<footer
  class="flex flex-col items-center justify-center bg-primary py-24 text-light"
>
  <ul class="flex flex-col justify-center items-center gap-8 uppercase">
    <li>
      <a
        class="css-animation rounded-full px-10 py-2 uppercase transition-color border-2 text-center transition-colors"
        href={`/${lang}/ghidare`}
      >
        {t("footer.freeGuidance")}
      </a>
    </li>
    {
      links.map(({ url, title }) => (
        <li>
          <a class="hover:text-secondary  transition-colors" href={url}>
            {title}
          </a>
        </li>
      ))
    }
    <li>
      <a
        class="css-animation bg-light rounded-full px-10 py-2 text-primary uppercase transition-colors"
        href={`/${lang}/new-facilitator`}
      >
        {t("footer.becomeFacilitator")}
      </a>
    </li>
  </ul>
  <div class="flex items-center justify-center gap-2 py-16">
    <LogoIcon class="h-14 w-14 fill-light" />
    <Logo class="h-14 fill-light" />
  </div>
  <div>
    <p class="text-center uppercase text-sm border-b-light pb-2 border-b-2">
      {t("footer.tagline")}
    </p>
    <div class="flex items-center justify-center gap-2 mt-2">
      <a
        href="https://www.instagram.com/_harmoniaworld_/?igsh=dmYzdG1uMTNxdHFy"
      >
        <Icon
          name="instagram"
          class="w-6 h-6 fill-primary bg-light rounded-full p-1"
        />
      </a>

      <a href="https://chat.whatsapp.com/HhSyeGSkPtZ0EcUZSwbfy7">
        <Icon
          name="whatsapp"
          class="w-6 h-6 fill-primary bg-light rounded-full p-1"
        />
      </a>
      <a href="mailto:harmoniacomm@gmail.com">
        <Icon
          name="email"
          class="w-6 h-6 fill-primary bg-light rounded-full p-1"
        />
      </a>
    </div>
  </div>
</footer>
