---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<button
  class:list={[
    "menu-button menu-toggle w-10 h-8 flex flex-col justify-between group",
    className,
  ]}
>
  <div
    class="css-animation bg-primary h-1 w-full rounded-full transition-transform group-[.open]:translate-y-[14px] group-[.open]:rotate-45"
  >
  </div>
  <div
    class="css-animation bg-primary h-1 w-full rounded-full transition-opacity group-[.open]:opacity-0"
  >
  </div>
  <div
    class="css-animation bg-primary h-1 w-full rounded-full transition-transform group-[.open]:-translate-y-[14px] group-[.open]:-rotate-45"
  >
  </div>
</button>
