---
interface Props {
  id: number;
}

const { id } = Astro.props;

const colors = [
  "bg-red-500",
  "bg-primary",
  "bg-green-500",
  "bg-yellow-500",
  "bg-purple-500",
  "bg-pink-500",
  "bg-indigo-500",
  "bg-teal-500",
  "bg-orange-500",
  "bg-gray-500",
];

const color = colors[id % colors.length];

const htmlId = `list-${id}`;
---

<div
  class:list={[
    "item w-20 h-20 opacity-0 translate-x-full transition delay-300 ",
    color,
  ]}
>
</div>
