---
import { ViewTransitions } from "astro:transitions";
import "aos/dist/aos.css"; // You can also use <link> for styles
import "@fontsource/jost";
import Navigation from "../components/Navigation.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body class="bg-white text-white w-screen">
    <Navigation />
    <div class="relative h-full">
      <slot />
    </div>
    <script>
      import { aosInit } from "../scripts/aos";

      // runs on initial page load
      aosInit();
    </script>
  </body>
</html>
