---
import { ViewTransitions } from "astro:transitions";
import "aos/dist/aos.css"; // You can also use <link> for styles
import "@fontsource/jost";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body class="bg-white text-white w-screen">
    <Navigation />
    <div class="relative h-full">
      <slot />
    </div>
    <Footer />
    <script>
      import { aosInit } from "../scripts/aos";

      // on IOS Chrome CSS animations are not working so we use this class to disable them
      if (navigator.userAgent.match("CriOS")) {
        document.body.classList.add("ios-chrome");
      }
      // runs on initial page load
      aosInit(!!navigator.userAgent.match("CriOS"));

      // runs on view transitions navigation
      document.addEventListener("astro:after-swap", () =>
        aosInit(!!navigator.userAgent.match("CriOS")),
      );
    </script>
  </body>
</html>
